form {
    width: 35rem;

    input,
    select {
        width: 20rem;
    }

    textarea {
        width: 30rem;
    }

    .btn {
        &-dark {
            width: 18rem;
            text-transform: uppercase;
        }
    }
}