$color-products-hover: rgba(0, 0, 0, 0.61);
$color-pure-white: rgb(255, 255, 255);
$color-pure-black: rgb(0, 0, 0);

.after-final {
    margin: 0;
}

.alert-container {
    .alert-dark {
        text-align: center;
        height: 5rem;
        margin-top: 2rem;
        margin-bottom: 0;
        padding: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.products {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &-list {
        ::selection {
            color: none;
            background: none;
        }

        position: relative;
        padding: 0rem;
        display: inline-block;
    }

    ul {
        margin: 1rem;
        margin-bottom: 0 !important;
        padding-left: 0;
    }

    &-overlay:hover {
        opacity: 0.7;
    }

    &-overlay:active {
        opacity: 1;
    }

    &-overlay {
        background-color: $color-products-hover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: 0.5s ease-in;
        margin: 1rem;
        margin-bottom: 0 !important;
    }

    img {
        display: block;
        height: auto;
        background-size: cover;
        overflow: hidden;
        position: relative;
    }

    .product-info {
        text-transform: uppercase;
        color: $color-pure-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .dash {
            width: 2rem;
            padding: 0.1rem;
            margin: 1.1rem auto;
            display: flex;
            background-color: $color-pure-white;
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;

        .btn {
            ::selection {
                color: none;
                background: none;
            }

            border-radius: 0px;
            text-transform: uppercase;
            width: 100%;
            background-color: $color-pure-black;
            color: $color-pure-white;

            &:focus {
                outline: none !important;
                box-shadow: none;
            }

            &:hover {
                background-color: $color-products-hover;
                opacity: 0.7;
            }

            &:active {
                background-color: $color-products-hover;
                opacity: 1;
                outline: none !important;
                box-shadow: none;
            }
        }
    }
}

.activePage {
    background-color: $color-products-hover;
    color: $color-pure-white;
}

select {
    border: 1px solid rgba(182, 182, 182, 0.45);
}