.modal-fullscreen-wrapper {
    .x-mark {
        font-size: 1.5rem
    }

    .zoom-controls {
        display: flex;
        justify-content: center;
    }

    .product-img {
        width: max-content;
    }
}