.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;

    span>span {
        border-top: 1px solid black !important;
        border-left: 1px solid black !important;
    }
}